.container{
    display: flex;
    flex-direction: column;
    align-content: center;
}

th {
    background-color: rgb(54, 93, 142);
}
.status{

    display: flex;
    gap: 1rem;
}
.dot-red{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
}
.dot-green{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
}
/* .status-dot{
height: 10px;
    width: 10px;
    border-radius: 50%;
}
.statud-text{

} */
.red {
    color: red;
}
 .green {
    color: green;
}

.active{
    display: flex;
}

.change-page{
    display: flex;
    gap: 2rem;
    padding: 1.5rem 2rem;
    
    
}